
@{
    ViewBag.Title = "index";
    ViewBag.StyleHeader = "header header-style-2";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div id="example-wrapper">
    @Html.Partial("Navigation")

    <div class="div-box mb">
        <div class="tour-wrapper">
            <div class="container">
                <div class="row">
                    @{Html.RenderAction("ForeignCategory", "Tour");}
                    <div class="col-md-9 col-sm-9">
                        <div class="tour-wrap">
                            <div class="tour-content">
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0002700_chiang-mai.jpeg" alt=""></a>
                                        <div class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan <span class="cut-edges"></span></div>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0002701_pattaya.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0004965_hua-hin.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0002682_bangkok.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0002699_phuket.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0002701_pattaya.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href="tour_detail.html"><img class="img-responsive" src="/images/0004965_hua-hin.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="tour_detail.html">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href=""><img class="img-responsive" src="/images/0002700_chiang-mai.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="tour-img">
                                        <a href=""><img class="img-responsive" src="/images/0002699_phuket.jpeg" alt=""></a>
                                        <span class="country-title foldtl"><i class="fa fa-map-marker" aria-hidden="true"></i> Bangkok, Thai Lan</span>
                                    </div>
                                    <div class="tour-info">
                                        <h5><a href="">Chao Phraya Bangkok - Sông Chao Phraya</a></h5>
                                        <div class="tour-price">
                                            <span class="pull-left">thời gian</span>
                                            <span class="pull-right">giá từ</span>
                                        </div>
                                        <div class="tour-price">
                                            <span class="pull-left blue"><i class="fa fa-calendar" aria-hidden="true"></i> 4 ngày 3 đêm</span>
                                            <span class="pull-right green">15.000.000.vnd</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hpagination">
                            <nav class="page-navigation">
                                <ul class="pagination1">
                                    <li><a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>