<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p><strong>Bạn được trải nghiệm những gì?</strong></p>

    <p style="text-align: justify;">Hãy ngồi trong sảnh 2.000 chỗ và vui vẻ thưởng thức 150 nhân vật trình diễn - bao gồm những chú voi và dê thật! Những vũ công bay, những phông nền được thiết kế tỉ mỉ, và những nhịp tim dồn dập , tất cả để kể về câu chuyện nước Xiêm và di sản đầy màu sắc của nó. Trở lại với thời cổ đại, với thành phố như là bước ngoặt của nền văn minh. các phong tục Phật giáo và Hồi giáo được thực hiện một cách hài hòa trong buổi lễ. Tham gia lễ hội làng xã và đời sống hàng ngày, của những người nông dân, tìm hiểu và chia sẻ niềm tin về NHÂN - QUẢ, cũng như những địa ngục bí ẩn và Himpaan, một khu rừng nằm lơ lửng giữa trời và đất. Với những điệu múa Thái Lan và âm nhạc dân gian quyến rũ mang đến những hiệu ứng ngoạn mục, tham gia vào một chương trình giải trí cực kỳ thú vị, sẽ đưa bạn đến con tim và khối óc của đất nước Thái Lan.</p>

    <p> </p>

    <p><img alt="" src="/UploadFiles/images/1(1).jpg" style="height:473px; width:800px" /></p>

    <p>Đắm mình vào lịch sử Thái Lan khi bạn xem buổi diễn mô phỏng nước Siam cổ xưa</p>

    <p><img alt="" src="/UploadFiles/images/2.jpg" style="height:445px; width:800px" /></p>

    <p>Hơn 150 người biểu diễn với 500 bộ trang phục làm bùng nổ sân khấu</p>

    <p><img alt="" src="/UploadFiles/images/3.jpg" style="height:445px; width:800px" /></p>

    <p style="text-align: justify;">Xem cách những nhóm xã hội khác nhau sống ở Siam những ngày xưa</p>

    <p style="text-align: justify;"><strong><span style="color:#e74c3c">Thông tin dịch vụ</span></strong></p>

    <p style="text-align: justify;"><span style="color:#e74c3c">Xác Nhận:</span></p>

    <ul>
        <li style="text-align: justify;">Bạn sẽ nhận được một email xác nhận và voucher ngay sau khi đặt vé</li>
        <li style="text-align: justify;">Trong trường hợp bạn không nhận được email từ chúng tôi, xin hãy kiểm tra thư mục Spam hoặc báo lại cho chúng tôi biết qua email.</li>
    </ul>

    <p style="text-align: justify;"><span style="color:#e74c3c">Bao gồm:</span></p>

    <ul>
        <li style="text-align: justify;">Vé vào cửa (ghế thường – regular seat)</li>
    </ul>

    <p style="text-align: justify;"><span style="color:#e74c3c">Thời gian mở cửa:</span></p>

    <ul>
        <li style="text-align: justify;">Chương trình giải trí trước khi trình diễn: 7:00 tối - 7:30 tối</li>
        <li style="text-align: justify;">Nhà hát mở cửa lúc 7:30 tối</li>
        <li style="text-align: justify;">Chương trình bắt đầu lúc 8:00 tối (thời lượng: 80 phút mà không có giải lao)</li>
    </ul>

    <p style="text-align: justify;"><span style="color:#e74c3c">Thông tin them:</span></p>

    <ul>
        <li style="text-align: justify;">Vé trẻ em: 4-12 tuổi</li>
        <li style="text-align: justify;">Các chỗ ngồi thực tế sẽ được phân bổ trong ngày biểu diễn, ưu tiên cho vé đặt trực tuyến</li>
        <li style="text-align: justify;">Trang phục: tự do (Bạn có thể mang theo áo len vì nhà hát có máy lạnh)</li>
    </ul>

    <p style="text-align: justify;"><span style="color:#e74c3c">Hướng dẫn sử dụng</span></p>

    <ul>
        <li style="text-align: justify;">Bạn có thể xuất trình voucher in hoặc điện tử có hiển thị số voucher của bạn để vào cửa</li>
        <li style="text-align: justify;">Người đặt chỗ và nhận voucher phải xuất trình giấy chứng minh nhân dân hoặc hộ chiếu hợp lệ kèm theo số voucher</li>
        <li style="text-align: justify;">Voucher chỉ có hiệu lực vào ngày ghi trên phiếu</li>
    </ul>

    <p style="text-align: justify;"><span style="color:#e74c3c">Đến đó bằng cách nào :</span></p>

    <ul>
        <li style="text-align: justify;">Địa chỉ: 19 Tiamruammit Road, HuayKwang, Bangkok 10320</li>
        <li style="text-align: justify;">Đi bộ từ tàu điện ngầm MRT, xin vui lòng sử dụng cầu để vượt qua giao lộ Ratchada đông đúc. Vui lòng đi bộ 10-20 phút</li>
        <li style="text-align: justify;">Siam Niramit có xe buýt đưa đón miễn phí từ Ga MRT Trung tâm Văn hóa Thái Lan, ra cổng 1. Xe đón khách bắt đầu lúc 5:15 chiều, khoảng 15 phút có 1 chuyến. đưa rước khách tiếp tục đến cuối chương trình. Đến trước được phục vụ trước.</li>
    </ul>

    <p style="text-align: justify;">Chính sách huỷ: Một khi xác nhận sẽ không được hoàn lại tiền khi huỷ chuyến</p>
</body>
</html>