<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/Assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/Ionicons/css/ionicons.min.css">

    <link href="~/Assets/libs/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/Assets/css/skins/_all-skins.min.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="nbtapp" ng-controller="rootController">
    <!-- Site wrapper -->
    <div ui-view></div>

    <script src="/Assets/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Assets/fastclick/lib/fastclick.js"></script>
    <script src="/Assets/js/adminlte.min.js"></script>
    <script src="/Assets/js/demo.js"></script>
    <script>
        
    </script>
    <!--Angular-->
    <script src="~/Assets/libs/angular/angular.min.js"></script>
    <script src="~/Assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Assets/libs/angular-password/angular-password.min.js"></script>
    <script src="~/Assets/libs/checklist-model/checklist-model.js"></script>
    <script src="~/Assets/libs/toastr/toastr.min.js"></script>
    <script src="~/Assets/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/libs/ngBootbox/ngBootbox.js"></script>

    <script src="~/App/shared/modules/nbtapp.common.js"></script>
    <script src="~/App/shared/services/apiService.js"></script>
    <script src="~/App/shared/services/commonService.js"></script>
    <script src="~/App/shared/services/notificationService.js"></script>
    <script src="~/App/shared/directives/pagerDirective.js"></script>

    <script src="~/App/components/appRoles/appRoles.module.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/components/home/rootController.js"></script>
    <script src="~/App/components/home/homeController.js"></script>
    <script src="~/App/components/appRoles/appRolesController.js"></script>

    
</body>
</html>
